body{
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
    margin-bottom: 300px;
}

.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

.container1{
    width: 80%;
    margin:auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#main-header{
    background-color: #dc143c;
    color: white;
}

#navbar{
    background-color: #f08080;
    color: blue;
    text-decoration:underline;
    text-decoration: blue;
}

#navbar ul{
    padding:0;
    list-style: none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color: blue;
    text-decoration: none;
    font-size:18px;
    padding-right:15px;
}

#showcase{
    background-color: #d3d3d3;
    background-position:center right;
    min-height:300px;
    margin-bottom:30px;
    text-align: center;
}

#showcase h1{
    color: black;
    font-size:50px;
    line-height: 1.6em;
    padding-top:30px;
}

#main h1{
    text-align: center;
}

#main{
    float:left;
    width:50%;
    padding:0 30px;
    box-sizing: border-box;
}

#sidebar{
    float:right;
    width:50%;
    max-height: 300px;
    background-color: none;
}
/*
#sidebar2{
    float:right;
    width:30%;
    background:grey;
    color: black;
    padding:10px;
    box-sizing: border-box;
}

#sidebar3{
    float:right;
    width:30%;
    background:grey;
    color: black;
    padding:10px;
    box-sizing: border-box;
}
*/
#main-footer{
    color: black;
    text-align: center;
}


@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }

    #sidebar{
        width:100%;
        float:none;
    }

    #sidebar2{
        width:100%;
        float:none;
    }

    #sidebar3{
        width:100%;
        float:none;
    }

    #main-footer{
        width:100%;
        float:none;
    }
}

.registration h2{
    text-align:center;
}

.registration h1{
    text-align: center;
}

.registration ul{
    padding:0;
    padding-left:20px;
    list-style:square;
    list-style:none;
    align-self: center;
}

.registration li{
    padding-bottom:6px;
    border-bottom:dotted 1px #333;
    align-self: center;
}

.testimonials h2{
    text-align:center;
    width:100%;
}

.testimonials ul{
    padding:0;
    padding-left:20px;
    list-style:square;
    list-style:none;
}

.testimonials li{
    padding-bottom:6px;
    border-bottom:dotted 1px #333;
}

.socialmedia h2{
    text-align:center;
    width:100%;
}

.socialmedia ul{
    padding:0;
    padding-left:20px;
    list-style:square;
    list-style:none;
}

.socialmedia li{
    padding-bottom:6px;
    border-bottom:dotted 1px #333;
}

.block{
    float:left;
    width:33.33%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing:border-box;
}

.blockSM{
    float:left;
    width:25%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing:border-box;
}

.fix-me{
    position:fixed;
    top:400px;
    left:0px;
}

.button{
    background-color: red;
    color:#fff;
    padding:10px 15px;
    border:none;
    text-decoration:none;
}

.button1{
    background-color: black;
    color:#fff;
    padding:20px 50px;
    border:none;
    text-decoration:none;
    text-align: center;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom:15px;
}

.my-form label{
    display:block;
}

.my-form input[type="text"], .my-form textarea{
    padding:8px;
    width:100%;
}

.my-list li:first-child{
    background:red;
}

.my-list li:last-child{
    background: blue;
}

.my-list li:nth-child(5){
    background: yellow;
}

.my-list li:nth-child(even){
    background: grey;
}

.homepage{
    width: 30%;
}
